.App {
  background-color: rgb(186, 73, 73);
  min-height: 90vh;
  width: 100%;
  color: white;
  transition: background-color 0.5s ease-in-out 0s;
  padding-top: 10%;
}
.header {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: -380px;
}
* {
  margin: 0;
  padding: 0;
}

.blueBg {
  background-color: rgb(186, 73, 73);
}

.greenBg {
  background-color: rgb(14, 118, 167);
}

.blackBg {
  background-color: rgb(14, 75, 84);
}

.timerContainer {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px 0px 30px;
  border-radius: 6px;
  margin-bottom: 20px;
  width: 50%;
  height: 28vh;
  margin: 0 auto;
}

.timerTabs {
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.tabText {
  border: none;
  margin: 10px;
  border-radius: 4px;
  font-family: ArialRounded;
  font-size: 16px;
  padding: 2px 12px;
  height: 28px;
  cursor: pointer;
  background: none rgba(0, 0, 0, 0);
  box-shadow: none;
  color: white;
  opacity: 1;
  font-weight: bold;
}

.loginButton {
  display: flex;
  -webkit-box-align: center;

  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.9;
  background: none rgba(255, 255, 255, 0.2);
  box-shadow: none;
  margin-left: 10px;
  font-size: 13px;
  padding: 8px 12px;
  min-width: 70px;
  border: none;
  color: white !important;
  margin-left: 500px;
}
.nav {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-top: -40px;
}
.nav a {
  color: inherit;
}

.nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
}
.siteLogo {
  font-size: 2rem;
  text-decoration: none;
}
.nav li.active {
  background-color: #555;
}
.nav li:hover {
  background-color: #777;
}
