.App {
  background-color: rgb(186, 73, 73);
  min-height: 90vh;
  width: 100%;
  color: white;
  transition: background-color 0.5s ease-in-out 0s;
  padding-top: 10%;
}
* {
  margin: 0;
  padding: 0;
}

.timerContainer {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px 0px 30px;
  border-radius: 6px;
  margin-bottom: 20px;
  width: 50%;
  height: 28vh;
  margin: 0 auto;
}

.timerTabs {
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.tabText {
  border: none;
  margin: 10px;
  border-radius: 4px;
  font-family: ArialRounded;
  font-size: 16px;
  padding: 2px 12px;
  height: 28px;
  cursor: pointer;
  background: none rgba(0, 0, 0, 0);
  box-shadow: none;
  color: white;
  opacity: 1;
  font-weight: bold;
}
